.gameContainer {
  margin-top: 10vh;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}