.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #a7d5e1;

}

.backgroundImage {
  width: 40vw;
  height: 40vh;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 100px;
}
