.gameCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #a7d5e1;
  margin: 0px;
  width: 60vw;
  height: 47vh;
}

.backgroundImage {
  width: 40vw;
  height: 40vh;
  object-fit: cover;
}

.gameCard > a {
  color: white;
}